* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.acesso{
    width: 500px;
    height: 500px;
    background-color:yellow;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.acesso a{
    text-decoration:none;
}