/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background: white;
}

/* HEADER */
.topo {
    width: 100%;
    background: #1f5c3a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

.logo img {
    width: 60px;
    border-radius: 20px;
}

/* MENU */
.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.menu a:hover {
    color: #90ee90;
}

/* PERFIL */
.perfil img {
    width: 35px;
    border-radius: 50%;
}

.perfil{
    display:flex;
    align-items: center;
    gap:10px;
}

.perfil a{
    text-decoration:none;
    color:white;
}

.perfil a:hover{
    color: #90ee90;
}

/* CONTAINER */
.container {
    flex: 1;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TÍTULO */
.container h1 {
    margin-bottom: 40px;
    letter-spacing: 1px;
}

/* CARD CONTATO */
.card-contato {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 25px;
    border: 1px solid #333;
    border-radius: 20px;
    margin-bottom: 30px;
}

/* IMAGEM */
.card-contato img {
    width: 140px;
    height: 140px;
    border-radius: 15px;
    object-fit: cover;
}

/* INFO */
.card-info h2 {
    margin-bottom: 10px;
}

.card-info p {
    margin-bottom: 5px;
    font-size: 14px;
}

/* FOOTER */
.rodape {
    background: #1f5c3a;
    padding: 25px;
    text-align: center;
    margin-top: 80px;
    
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.rodape p {
    font-size: 12px;
    color: white;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    nav {
        display: none;
    }

    .card-contato {
        flex-direction: column;
        text-align: center;
    }

    .card-contato img {
        width: 120px;
        height: 120px;
    }
}
