<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
    <link href="{{url_for('static', filename='css/cadastro.css')}}" rel="stylesheet">

</head>
<body>
   
   <header>
        <img src="{{url_for('static', filename='imgs/logo.jpg')}}"/>
    </header>


    <main>
            <div class="cadastro">
                <h1>cadastro</h1>
                <form action="" method="post">
                    <label for="Email">Email</label>
                    <input type="text" id="Email:" name="Email">


                    <label for="Senha">Senha :</label>
                    <input type="text" id="Senha" name="Senha">
                </form>  
           
                <button>Enviar</button>
               
            </div>
            
    </main>
        <footer>
    <div class="footer-texto">
        <div class="footer-links">
            <a href="#">Início</a>
            <a href="#">Sobre nós</a>
            <a href="#">Ajuda</a>
        </div>

        <p>© 2025 Nutrif.</p>
    </div>

            <img src="{{ url_for('static', filename='imgs/logo.jpg') }}">
   </footer>

</body>
</html>        


