<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="{{ url_for('static', filename='css/cadastro.css') }}" rel="stylesheet">
</head>

<body>

<header>
    <img src="{{ url_for('static', filename='imgs/logo.jpg') }}"/>
</header>

<main>
    <div class="cadastro">
        <h1>Cadastro</h1>

        <form method="POST" action="{{ url_for('cadastro') }}">

    <label>Nome</label>
    <input type="text" name="nome" required>

    <br><br>

    <label>Email</label>
    <input type="email" name="email" required>

    <br><br>

    <label>Senha</label>
    <input type="password" name="senha" required>

    <br><br>

    <button type="submit">Cadastrar</button>

</form>

    </div>
</main>

<footer>
    <div class="footer-texto">
        <div class="footer-links">
            <a href="#">Início</a>
            <a href="#">Sobre nós</a>
            <a href="#">Ajuda</a>
        </div>

        <p>© 2025 Nutrif.</p>
    </div>

    <img src="{{ url_for('static', filename='imgs/logo.jpg') }}">
</footer>

</body>
</html>
