<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>
<body>

    <header>
        <nav class="nav-header">
            <img src="{{ url_for('static', filename='imgs/logo.jpg') }}"/>
        </nav>
    </header>    
<hr>
    <main>
        <h1>Cadastro</h1>
        <form action="" method="post">
            <label>sou aluno</label>
            <input type="checkbox" name="opç1" value="sim"> 
            <label>sou servidor</label>
            <input type="checkbox" name="opç2" value="sim"> 
               
            <button type="submit">Enviar</button>

        </main>

    
    {%extends "base2.html"%}

    {%block conteudo%}  

        <main>
            <div>
                <h1>Cadastro</h1>
                <form action="" method="post">
                    <label>Sou aluno</label>
                    <input type="checkbox" name="opç1" value="sim"> 
                    <label>Sou servidor</label>
                    <input type="checkbox" name="opç2" value="sim"> 
                    <button>Enviar</button>
                </form>
            </div>

        </main>

        <img src="{{ url_for('static', filename='imgs/salada.png') }}"/>


    <footer>
        <div>
            <p>Inicio</p>
            <p> Sobre nós </p>
            <p>Ajuda</p>
            <p>© 2025 Nutrif</p>
             <img src="{{ url_for('static', filename='imgs/logo.jpg') }}"/>
        </div>
    </footer>


    {%endblock%}
</body>
</html>        


