<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/cardapio.css')}}" rel="stylesheet">
    <title>cardápio</title>
</head>
<body>
    <header class="topo">
        <div class="logo">
            <img src="{{ url_for('static', filename='imgs/logo.jpg') }}" alt="Logo Nutrif">
        </div>

        <nav class="menu">
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('feedback_form') }}">FEEDBACK</a>
            <a href="{{ url_for('cardapio') }}">CARDÁPIO</a>
            <a href="{{ url_for('receitas') }}">RECEITAS</a>
            <a href="{{ url_for('contato') }}">CONTATOS</a>
        </nav>

        <div class="perfil">
            <img src="{{ url_for('static', filename='imgs/PESSOA.png') }}" alt="Perfil">
            <a href="{{ url_for('perfilusuario') }}">SEU PERFIL</a>
        </div>
    </header>

    <main>
        <h1>Cardapio Semanal</h1>
        <div class="opcao"><a href="{{ url_for('cardapioLanche') }}">clique aqui para visualizar o cardapio semanal dos lanches</a></div>
        <div class="opcao"><a href="{{ url_for('cardapioRefeicoes') }}">Clique aqui para visualizar o cardapio semanal das refeições (almoço e janta)</a></div>
        <section>
            <div></div>
            <div></div>
        </section>

    </main>

    <footer class="rodape">
        <div class="footer-links">
            <a href="{{ url_for('index') }}">Início</a>
            <a href="#">Sobre nós</a>
            <a href="#">Ajuda</a>
        </div>

        <p>© 2025 Nutrif.</p>
    </footer>
</body>
</html>

