<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/contatos.css') }}">
</head>

<body>

    <header class="topo">
        <div class="logo">
            <img src="{{ url_for('static', filename='imgs/logo.jpg') }}" alt="Logo Nutrif">
        </div>

        <nav class="menu">
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('feedback_form') }}">FEEDBACK</a>
            <a href="{{ url_for('cardapio') }}">CARDÁPIO</a>
            <a href="{{ url_for('receitas') }}">RECEITAS</a>
            <a href="{{ url_for('contato') }}">CONTATOS</a>
        </nav>

        <div class="perfil">
            <img src="{{ url_for('static', filename='imgs/PESSOA.png') }}" alt="Perfil">
            <a href="{{ url_for('perfilusuario') }}">SEU PERFIL</a>
        </div>
    </header>

    <!-- CONTEÚDO -->
    <main class="container">

        <h1>CONTATOS</h1>

        <div class="card-contato">
            <img src="{{ url_for('static', filename='imgs/nutricionista.png') }}">

            <div class="card-info">
                <h2>Ana Paula Souza</h2>
                <p><strong>E-mail:</strong> aaaaaaaa@escolar.ifrn.edu.br</p>
                <p><strong>Telefone:</strong> (84) 99878-5634</p>
            </div>
        </div>

        <div class="card-contato">
            <img src="{{ url_for('static', filename='imgs/nutricionista.png') }}">

            <div class="card-info">
                <h2>Ana Paula Souza</h2>
                <p><strong>E-mail:</strong> aaaaaaaa@escolar.ifrn.edu.br</p>
                <p><strong>Telefone:</strong> (84) 99878-5634</p>
            </div>
        </div>

    </main>

    <footer class="rodape">
        <div class="footer-links">
            <a href="{{ url_for('index') }}">Início</a>
            <a href="#">Sobre nós</a>
            <a href="#">Ajuda</a>
        </div>

        <p>© 2025 Nutrif.</p>
    </footer>

</body>
</html>
