<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Feedback Alimentação</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/feedback.css') }}">
</head>

<body>
   <header class="topo">
        <div class="logo">
            <img src="{{ url_for('static', filename='imgs/logo.jpg') }}" alt="Logo Nutrif">
        </div>

        <nav class="menu">
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('feedback_form') }}">FEEDBACK</a>
            <a href="{{ url_for('cardapio') }}">CARDÁPIO</a>
            <a href="{{ url_for('receitas') }}">RECEITAS</a>
            <a href="{{ url_for('contato') }}">CONTATOS</a>
        </nav>

        <div class="perfil">
            <img src="{{ url_for('static', filename='imgs/PESSOA.png') }}" alt="Perfil">
            <a href="{{ url_for('perfilusuario') }}">SEU PERFIL</a>
        </div>
    </header>

   <main class="container">

      <section class="card">
         <h1>Feedback</h1>

         <form action="{{ url_for('feedback') }}" method="POST">

            <!-- AVALIAÇÃO -->
            <label>Avalie:</label>
            <div class="star-rating">
               <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
               <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
               <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
               <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
               <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
            </div>


            <!-- HORÁRIO -->
            <label for="horario">Selecione o horário da refeição</label>
            <select id="horario" name="horario">
               <option value="">Selecione</option>
               <option>8:30 - lanche manhã</option>
               <option>12:00 - Almoço</option>
               <option>14:30 - Lanche tarde</option>
               <option>18:00 - Jantar</option>
               <option>20:30 - Lanche noite</option>
            </select>

            <!-- DATA -->
            <label for="data">Selecione a data da refeição</label>
            <input type="date" id="data" name="data">

            <!-- MENSAGEM -->
            <label for="mensagem">Nos conte o que achou da refeição:</label>
            <textarea id="mensagem" name="mensagem" required></textarea>

            <button type="submit">Enviar</button>
         </form>
      </section>

      <img class="decoracao" src="{{ url_for('static', filename='imgs/salada.png') }}" alt="Salada">

   </main>

   <footer>
      <a href="{{ url_for('index') }}">Início</a>
      <a href="#">Sobre nós</a>
      <a href="#">Ajuda</a>
      <p>© 2025 Nutrif</p>
   </footer>

</body>
</html>
