<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/feedback_resultados.css') }}">

    <title>Document</title>
</head>
<body>
     <header class="topo">
        <div class="logo">
            <img src="{{ url_for('static', filename='imgs/logo.jpg') }}" alt="Logo Nutrif">
        </div>

        <nav class="menu">
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('feedback_form') }}">FEEDBACK</a>
            <a href="{{ url_for('cardapio') }}">CARDÁPIO</a>
            <a href="{{ url_for('receitas') }}">RECEITAS</a>
            <a href="{{ url_for('contato') }}">CONTATOS</a>
        </nav>

        <div class="perfil">
            <img src="{{ url_for('static', filename='imgs/PESSOA.png') }}" alt="Perfil">
            <a href="{{ url_for('perfilusuario') }}">SEU PERFIL</a>
        </div>
    </header>
    <main class="container">
        <div class="resultados">
                <h2>Feedbacks Recebidos</h2>
                {% if mensagem %}
                <ul style="list-style: none;">
                    {% for p in mensagem %}
                    <div class="comentario">
                        <img src="{{ url_for('static', filename='imgs/PESSOA.png') }}" alt="Perfil">
                        <li>{{ p }}</li>
                    </div>
                    {% endfor %}
                </ul>
            {%else%}
                <h3 style="color:gray;">Nenhuma mensagem recebida</h3>
            {% endif %}
            
        </div>        
</main>
     
<footer class="rodape">
        <div class="footer-links">
            <a href="{{ url_for('index') }}">Início</a>
            <a href="#">Sobre nós</a>
            <a href="#">Ajuda</a>
        </div>

        <p>© 2025 Nutrif.</p>
</footer>

</body>
</html>
<main>

  

