<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="{{url_for('static', filename='imgs/logo.jpg')}}"/>
    </header>


    <main>
            <div class="login">
                <h1>Login</h1>
                <form action="" method="post">
                    <label for="Matricula">Email</label>
                    <input type="text" id="Email:" name="Email">


                    <label for="Senha">Senha :</label>
                    <input type="text" id="Senha" name="Senha">
                </form>  
           
                <button>Enviar</button>
               
            </div>
            <img src="{{ url_for('static', filename='imgs/salada.png') }}"/>
    </main>
   
  <footer>
    <div class="footer-texto">
        <div class="footer-links">
            <a href="#">Início</a>
            <a href="#">Sobre nós</a>
            <a href="#">Ajuda</a>
        </div>

        <p>© 2025 Nutrif.</p>
    </div>

            <img src="{{ url_for('static', filename='imgs/logo.jpg') }}">
   </footer>




</body>
</html>

