<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="{{url_for('static', filename='imgs/logo.jpg')}}"/>
    </header>


    <main>
            <div class="login">
                <h1>Login</h1>
                <form method="POST" action="{{ url_for('login') }}">

                    <label>Email</label>
                    <input type="email" name="email" required>

                    <br><br>

                    <label>Senha</label>
                    <input type="password" name="senha" required>

                    <br><br>
                    <a href="/login/suap">
                        Entrar com SUAP
                    </a>

                    <button type="submit">Entrar</button>

                </form>

            </div>
            <img src="{{ url_for('static', filename='imgs/salada.png') }}"/> 
           
    </main>
   
  <footer>
    <div class="footer-texto">
        <div class="footer-links">
            <a href="#">Início</a>
            <a href="#">Sobre nós</a>
            <a href="#">Ajuda</a>
        </div>

        <p>© 2025 Nutrif.</p>
    </div>

            <img src="{{ url_for('static', filename='imgs/logo.jpg') }}">
   </footer>




</body>
</html>

