<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Perfil do Usuário</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/perfilusuario.css') }}">
</head>

<body>
   <header class="topo">
        <div class="logo">
            <img src="{{ url_for('static', filename='imgs/logo.jpg') }}" alt="Logo Nutrif">
        </div>

        <nav class="menu">
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('feedback_form') }}">FEEDBACK</a>
            <a href="{{ url_for('cardapio') }}">CARDÁPIO</a>
            <a href="{{ url_for('receitas') }}">RECEITAS</a>
            <a href="{{ url_for('contato') }}">CONTATOS</a>
        </nav>

        <div class="perfil">
            <img src="{{ url_for('static', filename='imgs/PESSOA.png') }}" alt="Perfil">
            <a href="{{ url_for('perfilusuario') }}">SEU PERFIL</a>
        </div>
   </header>

   <main class="container">

      <h1 class="titulo">PERFIL DE USUÁRIO</h1>

      <!-- CARD PERFIL -->
      <section class="card perfil">
         <img class="avatar" src="{{url_for('static', filename='imgs/PESSOA.png')}}" alt="Usuário">

         <div class="info">
            <p class="nome">MARIA FERNANDES SILVA</p>
            <p>matrícula: 20231041110029</p>
            <p>cadastrado em auxílio? <strong>SIM</strong></p>
         </div>
      </section>

      <!-- CARD RESTRIÇÕES -->
      <section class="card">
         <div class="card-header">
            <h2>RESTRIÇÕES</h2>
        <a href="{{ url_for('restricao') }}" class="btn verde">
            REGISTRAR RESTRIÇÃO
         </a>
         </div>
         <p class="texto">intolerância à lactose</p>
      </section>

      <!-- CARD FEEDBACKS -->
      <section class="card">
         <h2>FEEDBACKS</h2>

         <div class="feedback">
            <span class="estrelas">★★★☆☆</span>
            <p>meu feijão é bom </p>
            <button class="btn vermelho pequeno">Excluir feedback</button>
         </div>

         <div class="feedback">
            <span class="estrelas">★★★☆☆</span>
            <p>o arroz tava soltinho</p>
            <button class="btn vermelho pequeno">Excluir feedback</button>
         </div>
      </section>

      <!-- BOTÕES -->
      
         <div class="acoes">
   <button class="btn verde" onclick="history.back()">VOLTAR</button>
   <a href="{{ url_for('logoff') }}" class="btn amarelo">SAIR</a>
</div>
      

      <form action="{{ url_for('excluir_conta') }}" method="post">
       <button class="btn vermelho">
      EXCLUIR CONTA
       </button>
</form>

   </main>

   <footer class="rodape">
        <div class="footer-links">
            <a href="{{ url_for('index') }}">Início</a>
            <a href="#">Sobre nós</a>
            <a href="#">Ajuda</a>
        </div>

        <p>© 2025 Nutrif.</p>
    </footer>

</body>
</html>
