{%extends 'base.html'%}

{%block conteudo%}

<main>

    <h2>Perfil do usuario</h2>
    <img src="{{url_for('static', filename='imgs/PESSOA.png')}}"/>
    <p>Maria pereira</p>
    <p>matricula: 20231041110029</p>
    <p>cadastrado em auxilio? SIM</p>
    <H2>restrições</H2>
       <img src="{{url_for('static', filename='imgs/atenção.png')}}"/>
    <p>você não possui restrições</p>

    <H2>Feedbacks</H2>
       <img src="{{url_for('static', filename='imgs/atenção.png')}}"/>
    <p>você não possui feedbacks</p>



</main>

{%endblock%}
 
 
 
 
