{%extends "base.html"%}

{%block conteudo%}

    <main>

        <h1>feijao preto</h1>
        <section class="conteudo-prato">

            <img src="{{ url_for('static', filename='imgs/feijao.png') }}">

            
    <h2> Ingredientes </h2>

   <div class="ingredientes-form">
        <div>Arroz refogado</div>
        <div>Macarrão</div>
        <div>Arroz de leite</div>
        <div>Carne ao molho xadrez</div>
        <div>Carne ao legume</div>
        <div>Feijão branco</div>
    </div>



            <h2>Ingredientes</h2>


            <div class="ingredientes-form">
                <div>Arroz refogado</div>
                <div>Macarrão</div>
                <div>Arroz de leite</div>
                <div>Carne ao molho xadrez</div>
                <div>Carne ao legume</div>
                <div>Feijão branco</div>
            </div>

        </section>

        <section class="passo">
            <h2>Passo a passo:</h2>

            <p>
                loremloremloremloremloremloremloremloremloremloremloremloremlorem
                loremloremloremloremloremloremloremloremloremloremloremlorem
                loremloremloremloremlorem
            </p>

            <br>

            <p>
                loremloremloremloremloremloremloremloremloremloremloremloremlorem
                loremloremloremloremloremloremloremloremloremloremloremlorem
                loremloremloremloremlorem
            </p>
        </section>

    </main>

{%endblock%}
