{% extends "base.html" %}

{% block conteudo %}
<main class="receitas-container">

    <h1>RECEITAS</h1>

    <div class="receita-box">
        <div class="receita-info">
            <h3>Feijão preto</h3>
            <p>descrição descrição descrição</p>
        </div>
        <div class="receita-img">imagem</div>
    </div>

    <div class="receita-box">
        <div class="receita-info">
            <h3>Feijão preto</h3>
            <p>descrição descrição descrição</p>
        </div>
        <div class="receita-img">imagem</div>
    </div>

    <div class="receita-box">
        <div class="receita-info">
            <h3>Feijão preto</h3>
            <p>descrição descrição descrição</p>
        </div>
        <div class="receita-img">imagem</div>
    </div>

    <div class="receita-box">
        <div class="receita-info">
            <h3>Feijão preto</h3>
            <p>descrição descrição descrição</p>
        </div>
        <div class="receita-img">imagem</div>
    </div>

</main>
<hr>
{% endblock %}

