<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link href="{{url_for('static', filename='css/restricao.css')}}" rel="stylesheet">
</head>
<body>
    <header class="topo">
        <div class="logo">
            <img src="{{ url_for('static', filename='imgs/logo.jpg') }}" alt="Logo Nutrif">
        </div>

        <nav class="menu">
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('feedback_form') }}">FEEDBACK</a>
            <a href="{{ url_for('cardapio') }}">CARDÁPIO</a>
            <a href="{{ url_for('receitas') }}">RECEITAS</a>
            <a href="{{ url_for('contato') }}">CONTATOS</a>
        </nav>

        <div class="perfil">
            <img src="{{ url_for('static', filename='imgs/PESSOA.png') }}" alt="Perfil">
            <a href="{{ url_for('perfilusuario') }}">SEU PERFIL</a>
        </div>
    </header>

    <main>
        <h1>Restrição Alimentar</h1>

        <form action="" method="POST" enctype="multipart/form-data">

            <label for="restricao">Selecione seu tipo de restrição:</label>
            <br>
            <textarea id="restricao" name="restricao" placeholder="Descreva aqui..."></textarea>

            <br><br>

            <label for="arquivo"> Anexe seu laudo de restrição:</label>
            <br>
            <input type="file" id="arquivo" name="arquivo">

            <br><br>

            <button type="submit">Enviar</button>
        </form>
    </main>

    <!-- FOOTER -->
    <footer class="rodape">
        <div class="footer-links">
            <a href="{{ url_for('index') }}">Início</a>
            <a href="#">Sobre nós</a>
            <a href="#">Ajuda</a>
        </div>

        <p>© 2025 Nutrif.</p>
    </footer>

</body>
</html>
  